<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:stat="http://www.alibaba.com/schema/stat"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.alibaba.com/schema/stat http://www.alibaba.com/schema/stat.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:component-scan base-package="com.study.service"></context:component-scan>


    <bean id="myDataSource" class="com.alibaba.druid.pool.DruidDataSource"
          init-method="init" destroy-method="close">
        <property name="url" value="jdbc:mysql://localhost:3306/study"></property>
        <property name="username" value="root"></property>
        <property name="password" value="140888"></property>
        <property name="maxActive" value="20"></property>
    </bean>


    <!--声明sqlSessionFactoryBean类，这个类内部创建sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="myDataSource"></property>
        <!--主配置文件-->
        <property name="configLocation" value="classpath:mybatis.xml"></property>
    </bean>


    <!--创建dao类-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--sqlSessionFactory的id-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>

        <!--指定包名 dao接口所在包名-->
        <property name="basePackage" value="com.study.dao"></property>
    </bean>
    <!--声明事务管理-->
    <bean id="transationManage" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="myDataSource"></property>
    </bean>

    <!--开启事务注册驱动-->
    <aop:config>
        <aop:pointcut id="servicePt" expression="execution(* *..service..*.*(..))"/>
        <aop:advisor advice-ref="myAdvice" pointcut-ref="servicePt"></aop:advisor>
    </aop:config>
    <!--事务增强-->
    <tx:advice id="myAdvice" transaction-manager="transationManage">
        <tx:attributes>
            <!--给具体方法配置事务属性，method方法可以有多个
            name：方法名称，不带包和类
                  方法可以使用通配符
            -->
            <tx:method name="*/"></tx:method>
            <tx:method name="get*"></tx:method>
        </tx:attributes>


    </tx:advice>

</beans>